extends partials/templates/_template.pug

block content

  // Banner
  include partials/components/_banner.pug 
  // Reasons
  include partials/components/_reasons.pug 
  // Actions
  include partials/components/_actions.pug
  // Cabinet
  include partials/components/_cabinet.pug 
  // Gallery
  include partials/components/_gallery.pug
  // Properties
  include partials/components/_properties.pug 


