.cabinet{
  background-image: url(../img/cabinet-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $text-color-white;  
  padding: 230px 0 150px;
  @include mq($from:xs, $until:lg){
    padding: 100px 0 100px;
  }
}
.cabinet-blue{
  margin-top: 20px;
  background-color: rgba($blue, .7);
  padding: 10px 25px;
  font-size: 20px;
  p{
    margin: 10px 0;
  }
}
.cabinet-order{
  font-size: 24px;
  @include font-family('PFBagueSansPro Regular', normal, normal);
  &__text{
    line-height: (35/24);
    margin-bottom: 50px;
    &:before{
      content: '';
      display: block;
      @include sprite($s-snake-orange);
      margin-bottom: 40px;
    }
  }
}