.footer{
  background-color: $blue;
  color: $text-color-white;
  padding: 20px 0 30px;
  &__logo{
    @include mq($from:xs, $until:lg){
      margin-bottom: 10px;
    }
  }
  &__link{
    color: $text-color-white;
    @include mq($from:xs, $until:lg){
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
    }
    &--email{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: baseline;
        margin-right: 5px;
        @include sprite($s-link-email);
      }
    }
    &--tel{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: baseline;
        margin-right: 5px;
        @include sprite($s-link-tel);
      }
    }
    &--vk{
      display: inline-block;
      vertical-align: baseline;
      margin-right: 20px;
      @include sprite($s-link-vk);
    }
    &--fb{
      display: inline-block;
      vertical-align: baseline;
      margin-right: 20px;
      @include sprite($s-link-fb);
    }
  }
}
