.gallery{
  // padding-bottom: 50px;
  &__text{
    padding: 0 10%;
    margin: 40px 0;
    @include mq($from:xs, $until:xl){
      padding: 0;
    }
  }
  &__text-blue{
    color: $blue;
    font-size: 30px;
    @include font-family('PFBagueSansPro Regular', normal, normal);
  }
  &__text-black{
    font-size: 26px;
    text-transform: uppercase;
    @include font-family('PFBagueSansPro Regular', normal, normal);
  }

  &__pics{
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
  }
  &__img{
    display: block;
    @include mq($from:xs, $until:md){
      width: auto !important;
      height: auto !important;
    }
    &:nth-of-type(1){
      width: 200px;
      height: 238px;
    }
    &:nth-of-type(2){
      width: 370px;
      height: 238px;
    }
    &:nth-of-type(3){
      width: 300px;
      height: 385px;
    }
    &:nth-of-type(4){
      width: 270px;
      height: 385px;
    }
    &:hover, &:focus{
      transform: scale(1.15);
    }

    img{
      width: 100%;
      height: 100%;
      display: block; 
      object-fit: cover;
    }
  }
}

