include ../abstracts/bemto/bemto.pug


+b.SECTION.actions
  .container
    +e.inner
      +e.title Ваши действия:
      +e.step Вы оставляете заявку на приобретение календаря
      +e.step Оператор уточнит детали заказа
      +e.step В течении 2-5 дней курьер доставит заказ
      +e.step Оплата при получении!
      +e.smile

