include ../abstracts/bemto/bemto.pug


+b.SECTION.cabinet
  .container
    .row
      .col-xs-12.col-lg-4
        +b.cabinet-blue
          +e.text 
            p Мы с заботой подготовили для Вас календарь, соответствующий самым притязательным вкусам. 
            p Качественная печать на высококлассной плотной бумаге. 
            p Светлые, яркие цвета. 

      .col-xs-12.col-lg-4.offset-lg-4
        +b.cabinet-order
          +e.text Наш календарь — идеальное дополнение к любому интерьеру!
          +e.btn
            +b.btn(href="#") Заказать
