include ../abstracts/bemto/bemto.pug


+b.SECTION.gallery
  .container
    .row.row-xs-middle
      .col-xs-12.col-xl-6
        +e.text
          +e.text-blue 
            p Хочешь чтобы о твоем подарке помнили весь год? 
          +e.text-black 
            p Не упусти уникальную возможность
          +e.btn
            +b.btn(href="#") Заказать

      .col-xs-12.col-xl-6
        +e.pics
          +e.A.img(href="#")
            img(src="img/pics/1.jpg", alt="img1", title="img1")
          +e.A.img(href="#")
            img(src="img/pics/2.jpg", alt="img2", title="img2")
          +e.A.img(href="#")
            img(src="img/pics/3.jpg", alt="img3", title="img3")
          +e.A.img(href="#")
            img(src="img/pics/4.jpg", alt="img4", title="img4")