include ../abstracts/bemto/bemto.pug


+b.SECTION.properties
  .container
    .row
      +e.text-wrapper.col-xs-12.col-lg-3
        +e.text Высочайшее качество печати
      +e.text-wrapper.col-xs-12.col-lg-3
        +e.text Бесплатная доставка
      +e.text-wrapper.col-xs-12.col-lg-2
        +e.text Оплата при получении

    +b.opt.row
      .col-xs-12.col-lg-5
        +e.text Если Вы хотите приобрести несколько экземпляров, мы с удовольствием предоставим уникальные и выгодные условия! 
      .col-xs-12.col-lg-3
        +e.btn
          +b.btn--opt(href="#") Заказать оптом
        +e.btn-text со скидкой до 40%

