include ../abstracts/bemto/bemto.pug


+b.SECTION.reasons
  .container
    +e.H2.title Почему покупка сейчас - отличное решение?
    .row
      +b.reason-item.col-xs-12.col-lg-3        
        +e.H3.title Оригинально
        +e.text Авторский календарь “Президент 2017” выпущен ограниченным тиражом. 
      +b.reason-item.col-xs-12.col-lg-3
        +e.H3.title Стильно
        +e.text Эксклюзивные иллюстрации нарисованы талантливым российским иллюстратором Такой подарок не будет пылиться на полке, он станет украшением любого интерьера.           
      +b.reason-item.col-xs-12.col-lg-3
        +e.H3.title Практично
        +e.text Мы создали календарь универсального размера, который вы сможете повесить в любом месте ваших апартаментов, сохранив при этом читабельность. 
      +b.reason-item.col-xs-12.col-lg-3
        +e.H3.title Универсально
        +e.text Наш календарь можно преподнести:
          ul
            li деловому партнеру
            li руководителю
            li коллеге
            li отличившемуся сотруднику
            li членам своей семьи
            li друзьям
            li себе любимому

    .row
      .col-xs-12.col-lg-7.offset-lg-4
        +b.order-now
          +e.H2.title Закажи сейчас и получи 25% скидку
          +e.description Процесс заказа займет не более 30 сек.
          +e.FORM.form
            +e.INPUT.input(type='email', name='Email', placeholder='Ваша эл.почта')
            +b.BUTTON.btn--form(type='submit') Заказать

