<section class="actions">
  <div class="container">
    <div class="actions__inner">
      <div class="actions__title">Ваши действия:</div>
      <div class="actions__step">Вы оставляете заявку на приобретение календаря</div>
      <div class="actions__step">Оператор уточнит детали заказа</div>
      <div class="actions__step">В течении 2-5 дней курьер доставит заказ</div>
      <div class="actions__step">Оплата при получении!</div>
      <div class="actions__smile"></div>
    </div>
  </div>
</section>