<section class="cabinet">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div class="cabinet-blue">
          <div class="cabinet-blue__text">
            <p>Мы с заботой подготовили для Вас календарь, соответствующий самым притязательным вкусам. </p>
            <p>Качественная печать на высококлассной плотной бумаге. </p>
            <p>Светлые, яркие цвета. </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 offset-lg-4">
        <div class="cabinet-order">
          <div class="cabinet-order__text">Наш календарь — идеальное дополнение к любому интерьеру!</div>
          <div class="cabinet-order__btn">
            <a class="btn" href="#">Заказать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>