<section class="gallery">
  <div class="container">
    <div class="row row-xs-middle">
      <div class="col-xs-12 col-xl-6">
        <div class="gallery__text">
          <div class="gallery__text-blue">
            <p>Хочешь чтобы о твоем подарке помнили весь год? </p>
          </div>
          <div class="gallery__text-black">
            <p>Не упусти уникальную возможность</p>
          </div>
          <div class="gallery__btn">
            <a class="btn" href="#">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-xl-6">
        <div class="gallery__pics">
          <a class="gallery__img" href="#">
            <img src="img/pics/1.jpg" alt="img1" title="img1" />
          </a>
          <a class="gallery__img" href="#">
            <img src="img/pics/2.jpg" alt="img2" title="img2" />
          </a>
          <a class="gallery__img" href="#">
            <img src="img/pics/3.jpg" alt="img3" title="img3" />
          </a>
          <a class="gallery__img" href="#">
            <img src="img/pics/4.jpg" alt="img4" title="img4" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>