<section class="properties">
  <div class="container">
    <div class="row">
      <div class="properties__text-wrapper col-xs-12 col-lg-3">
        <div class="properties__text">Высочайшее качество печати</div>
      </div>
      <div class="properties__text-wrapper col-xs-12 col-lg-3">
        <div class="properties__text">Бесплатная доставка</div>
      </div>
      <div class="properties__text-wrapper col-xs-12 col-lg-2">
        <div class="properties__text">Оплата при получении</div>
      </div>
    </div>
    <div class="opt row">
      <div class="col-xs-12 col-lg-5">
        <div class="opt__text">Если Вы хотите приобрести несколько экземпляров, мы с удовольствием предоставим уникальные и выгодные условия! </div>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div class="opt__btn">
          <a class="btn btn--opt" href="#">Заказать оптом</a>
        </div>
        <div class="opt__btn-text">со скидкой до 40%</div>
      </div>
    </div>
  </div>
</section>