<section class="reasons">
  <div class="container">
    <h2 class="reasons__title">Почему покупка сейчас - отличное решение?</h2>
    <div class="row">
      <div class="reason-item col-xs-12 col-lg-3">
        <h3 class="reason-item__title">Оригинально</h3>
        <div class="reason-item__text">Авторский календарь “Президент 2017” выпущен ограниченным тиражом. </div>
      </div>
      <div class="reason-item col-xs-12 col-lg-3">
        <h3 class="reason-item__title">Стильно</h3>
        <div class="reason-item__text">Эксклюзивные иллюстрации нарисованы талантливым российским иллюстратором Такой подарок не будет пылиться на полке, он станет украшением любого интерьера. </div>
      </div>
      <div class="reason-item col-xs-12 col-lg-3">
        <h3 class="reason-item__title">Практично</h3>
        <div class="reason-item__text">Мы создали календарь универсального размера, который вы сможете повесить в любом месте ваших апартаментов, сохранив при этом читабельность. </div>
      </div>
      <div class="reason-item col-xs-12 col-lg-3">
        <h3 class="reason-item__title">Универсально</h3>
        <div class="reason-item__text">Наш календарь можно преподнести:
          <ul>
            <li>деловому партнеру</li>
            <li>руководителю</li>
            <li>коллеге</li>
            <li>отличившемуся сотруднику</li>
            <li>членам своей семьи</li>
            <li>друзьям</li>
            <li>себе любимому</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-7 offset-lg-4">
        <div class="order-now">
          <h2 class="order-now__title">Закажи сейчас и получи 25% скидку</h2>
          <div class="order-now__description">Процесс заказа займет не более 30 сек.</div>
          <form class="order-now__form">
            <input class="order-now__input" type="email" name="Email" placeholder="Ваша эл.почта" />
            <button class="btn btn--form" type="submit">Заказать</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>